<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boliangshenghe.outteam.repository.LeaveMapper" >
  <resultMap id="BaseResultMap" type="com.boliangshenghe.outteam.entity.Leave" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="eqid" property="eqid" jdbcType="INTEGER" />
    <result column="eqname" property="eqname" jdbcType="VARCHAR" />
    <result column="otid" property="otid" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, company, fid, eqid, eqname, otid, state, createtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_leave
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_leave
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    insert into t_leave (id, cid, company, 
      fid, eqid, eqname, 
      otid, state, createtime, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, 
      #{fid,jdbcType=INTEGER}, #{eqid,jdbcType=INTEGER}, #{eqname,jdbcType=VARCHAR}, 
      #{otid,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boliangshenghe.outteam.entity.Leave" >
      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
  	  </selectKey>
    insert into t_leave
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="eqid != null" >
        eqid,
      </if>
      <if test="eqname != null" >
        eqname,
      </if>
      <if test="otid != null" >
        otid,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="eqid != null" >
        #{eqid,jdbcType=INTEGER},
      </if>
      <if test="eqname != null" >
        #{eqname,jdbcType=VARCHAR},
      </if>
      <if test="otid != null" >
        #{otid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    update t_leave
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="eqid != null" >
        eqid = #{eqid,jdbcType=INTEGER},
      </if>
      <if test="eqname != null" >
        eqname = #{eqname,jdbcType=VARCHAR},
      </if>
      <if test="otid != null" >
        otid = #{otid,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    update t_leave
    set cid = #{cid,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER},
      eqid = #{eqid,jdbcType=INTEGER},
      eqname = #{eqname,jdbcType=VARCHAR},
      otid = #{otid,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 新加   -->
   <select id="selectLeaveList" resultMap="BaseResultMap"  parameterType="com.boliangshenghe.outteam.entity.Leave">
   	    select 
    <include refid="Base_Column_List" />
    from t_leave
    <where>
        <if test="cid != null">
            AND cid = #{cid,jdbcType=INTEGER}
        </if>
        <if test="eqid != null">
            AND eqid = #{eqid,jdbcType=INTEGER}
        </if>
        <if test="otid != null">
            AND otid = #{otid,jdbcType=INTEGER}
        </if>
    </where>
   	    <if test="start != null and limit != null"> 
			LIMIT #{start} ,#{limit}
		</if>
   	</select>
</mapper>