<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boliangshenghe.outteam.repository.LeaveMapper" >
  <resultMap id="BaseResultMap" type="com.boliangshenghe.outteam.entity.Leave" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="eqid" property="eqid" jdbcType="INTEGER" />
    <result column="eqname" property="eqname" jdbcType="VARCHAR" />
    <result column="otid" property="otid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, cid, company, fid, eqid, eqname, otid, createtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_leave
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_leave
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    insert into t_leave (ID, cid, company, 
      fid, eqid, eqname, 
      otid, createtime, remark
      )
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, 
      #{fid,jdbcType=INTEGER}, #{eqid,jdbcType=INTEGER}, #{eqname,jdbcType=VARCHAR}, 
      #{otid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    insert into t_leave
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="eqid != null" >
        eqid,
      </if>
      <if test="eqname != null" >
        eqname,
      </if>
      <if test="otid != null" >
        otid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="eqid != null" >
        #{eqid,jdbcType=INTEGER},
      </if>
      <if test="eqname != null" >
        #{eqname,jdbcType=VARCHAR},
      </if>
      <if test="otid != null" >
        #{otid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    update t_leave
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="eqid != null" >
        eqid = #{eqid,jdbcType=INTEGER},
      </if>
      <if test="eqname != null" >
        eqname = #{eqname,jdbcType=VARCHAR},
      </if>
      <if test="otid != null" >
        otid = #{otid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boliangshenghe.outteam.entity.Leave" >
    update t_leave
    set cid = #{cid,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER},
      eqid = #{eqid,jdbcType=INTEGER},
      eqname = #{eqname,jdbcType=VARCHAR},
      otid = #{otid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>