<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boliangshenghe.outteam.repository.ResponseCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.boliangshenghe.outteam.entity.ResponseCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rid, rname, cid, company, duty, count, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_response_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_response_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boliangshenghe.outteam.entity.ResponseCompany" >
    insert into t_response_company (id, rid, rname, 
      cid, company, duty, 
      count, state)
    values (#{id,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, 
      #{cid,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boliangshenghe.outteam.entity.ResponseCompany" >
    insert into t_response_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="duty != null" >
        duty,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boliangshenghe.outteam.entity.ResponseCompany" >
    update t_response_company
    <set >
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="duty != null" >
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boliangshenghe.outteam.entity.ResponseCompany" >
    update t_response_company
    set rid = #{rid,jdbcType=INTEGER},
      rname = #{rname,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 新加   -->
   <select id="selectResponseCompanyList" resultMap="BaseResultMap"  parameterType="com.boliangshenghe.outteam.entity.ResponseCompany">
   	    select 
    <include refid="Base_Column_List" />
    from t_response_company
    <where>
        <if test="rid != null">
            AND rid = #{rid,jdbcType=INTEGER} 
        </if>
    </where>
    order by cid asc
   	    <if test="start != null and limit != null"> 
			LIMIT #{start} ,#{limit}
		</if>
   	</select>
   	
   	<delete id="deleteByResponseCompany" parameterType="com.boliangshenghe.outteam.entity.ResponseCompany" >
    delete from t_response_company
    where rid = #{rid,jdbcType=INTEGER} 
  </delete>
</mapper>